.footer-container {
    background-color: #191919;
    padding: 30px;
    color: rgb(216, 209, 209);
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
  }